  <!doctype html>
  <html lang="en" ng-app="myApp">
  <head>
     <meta charset="utf-8">
  
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML&delayStartupUntil=configured&dummy=.js"></script>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.1.js">
  </script>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">

  <link rel="stylesheet" href="lib/onsen/css/onsenui.css">  
  <link rel="stylesheet" href="lib/onsen/css/onsen-css-components.css">  
  <link rel="stylesheet" href="styles/app.css"/>


  <script src="lib/onsen/js/angular/angular.js"></script>   
    <script src="lib/onsen/js/onsenui.js"></script>    

    <script type="text/javascript" src="js/app.js"></script>
  </head>

  <body ng-controller="MyCtrl" >
    <ons-tabbar>
      <ons-tabbar-item active="true" page="stress.html" ng-click="CalculateS()">
      <div class="tab" >
        <div class="tab-label" >Axial Compression</div>
      </div>
    </ons-tabbar-item>

    <ons-tabbar-item page="pressure.html"  ng-click="CalculateP()">
    <div class="tab">
      <div class="tab-label" >External Pressure</div>
    </div>
    </ons-tabbar-item>
    </ons-tabbar>


  <ons-template id="stress.html">
  <ons-page>
<div ng-controller="MyCtrl" >
     <ons-toolbar>
        <div class="center">Theoretical Minimum Buckling Loads</div>
      </ons-toolbar>

 <span style="float:left;width:110px">Thickness (t):</span>
  <span style="float:left"><input type="number" ng-change="CalculateS()" step=0.05 ng-model="Thickness" style="float:left;width:50px"></input>
    <span style="float:left">in</span>
  </span>
  <span style="clear:both;float:left;width:110px">Modulus (E):</span>
  <span style="float:left"><input type="number" ng-change="CalculateS()" ng-model="Modulus" style="float:left;width:50px"></input><span style="float:left">10<sup>6</sup> psi</span>
  </span>
  <span style="clear:both;float:left;width:110px">Poisson (&nu;):</span>
  <span style="float:left"><input type="number" ng-change="CalculateS()" step=0.02 ng-model="Poisson" style="float:right;width:50px"></input>
  </span>
<span   style="clear:both;float:left;width:110px">Radius (R):</span>
  <span style="float:left"><input type="number" ng-change="CalculateS()" ng-model="Radius" style="float:left;width:50px"></input>
    <span  style="float:left">in</span>
  </span> 

  </span>


  <ul  style="clear:both;float:left;"><li>Critical Axial Stress per <a href="http://www.amazon.com/Theory-Elastic-Stability-Mechanical-Engineering/dp/0486472078/ref=sr_1_1?ie=UTF8&qid=1414974507&sr=8-1&keywords=elastic+stability">Timoshenko</a></li></ul>

  <br> <span  style="clear:both;float:left;width:90px;position:relative;top:25px;" id="expressions"></span>

</div>
  </ons-page>
  </ons-template>


  <ons-template id="pressure.html">
  <ons-page>

        <ons-toolbar>
        <div class="center">Buckling Pressure</div>
      </ons-toolbar>
<div ng-controller="MyCtrl" >
 <span style="float:left;width:110px">Thickness (t):</span>
  <span style="float:left"><input type="number" ng-change="CalculateP()" step=0.05  ng-model="Thickness" style="float:left;width:50px"></input>
    <span style="float:left">in</span>
  </span>
  <span style="clear:both;float:left;width:110px">Modulus (E):</span>
  <span style="float:left"><input type="number" ng-change="CalculateP()" ng-model="Modulus" style="float:left;width:50px"></input><span style="float:left">10<sup>6</sup> psi</span>
  </span>
  <span style="clear:both;float:left;width:110px">Poisson (&nu;):</span>
  <span style="float:left"><input type="number" ng-change="CalculateP()" step=0.02 ng-model="Poisson" style="float:right;width:50px"></input>
  </span>


  <span   style="clear:both;float:left;width:110px">Radius (R):</span>
  <span style="float:left"><input type="number" ng-change="CalculateP()" ng-model="Radius" style="float:left;width:50px"></input>
    <span  style="float:left">in</span>
  </span>
 

  <ul  style="clear:both;float:left;"><li>Critical Buckling Pressure per <a href="http://www.amazon.com/Theory-Elastic-Stability-Mechanical-Engineering/dp/0486472078/ref=sr_1_1?ie=UTF8&qid=1414974507&sr=8-1&keywords=elastic+stability">Timoshenko</a></li></ul>

   <br> <span  style="clear:both;float:left;width:110px;position:relative;top:25px;" id="expressionp"></span>
</div>
  </ons-page>
  </ons-template>



  </body>
  </HTML>
